#setupDiv {
    border-width: 1px;
    border-style:solid;
    border-color: #cccccc;
    padding: 5px;
}

img {
    margin: 10px;
    border-color: gray;
}

#error {
    color: red;
}

      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map1, #map2 { height: 90%; width: 45%; display: inline-block; }

#timeDiv1, #timeDiv2 {
	display: block;
	margin: 2%;
}

.maptd{
    width: 70%;
}

.mapdiv{
    height: 600px;
    width: 100%;
/*  width: 400px;*/
}
.fill{
    width:100%;
}


.mapdiv img{
	max-width: inherit;
}

body 
{
    background:#FFF;
    font-family: 'Ubuntu', sans-serif;
}

#driving.boxed {
  border: 1px solid green ;
}

#taxi.boxed {
  border: 1px solid orange ;
}

#transit.boxed {
  border: 1px solid blue ;
}


/*#mapWrap {
	width: 100%;
	height: 100%;
}
*/

#map_canvas1, #map_canvas2 {
	width: 98%;
	height: 90%;
	margin: 2%;
}

#resultsDiv {
	margin: 2%;
}
/*
#sideWrap {
    float:left;
}
*/
#sideWrap{
    padding: 20px;
}
/*
#tabsWrap div {
    float:left;
}
*/
.tabContent{
   /* float:left;*/
}


.th{
    text-align: center;
    background-color: #9999FF;
    color: #FFFF00;
    font-weight: bold;
}

.td{
    text-align: center;
    background-color: #9999FF;
    color: #FFFF00;
    text-align: center;
}

.coloredBackground{
    background-color: #9999FF;
 /*   color: #FF9966; */
    
}

#taxiMapList{
    position: relative;
}
.taxilisttd{
    background-color: #FFFF66;
    padding: 50px;
}
.taxilisttd h3{
    text-align: center;
}

#taxiList{
    list-style-type: none;
}

.taxiName{
    color:#003366;
    font-size: 1.5EM;
    text-align: center;
}

.taxiPhone{
    color:#003366;
    font-size: 1.2EM;
    text-align: center;
    margin-bottom: 10px;
}

.nav-tabs {
   border: 1px solid #ddd;
   color: #ffffff;
   background-color: #FFFF00;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}