#setupDiv {
    border-width: 1px;
    border-style:solid;
    border-color: #cccccc;
    padding: 5px;
}

img {
    margin: 10px;
    border-color: gray;
}

#error {
    color: red;
}

      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas1, #map_canvas2, #map1, #map2 { height: 100%; width: 45% }

#map_canvas1, #map_canvas2, #timeDiv1, #timeDiv2, #map1, #map2 {
	display: inline-block;
	margin: 2%;
}

body 
{
    background:#FFF;
    font-family: 'Ubuntu', sans-serif;
}


