#setupDiv {
    border-width: 1px;
    border-style:solid;
    border-color: #cccccc;
    padding: 5px;
}

img {
    margin: 10px;
    border-color: gray;
}

#error {
    color: red;
}

      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map1, #map2 { height: 90%; width: 45%; display: inline-block; }

#timeDiv1, #timeDiv2 {
	display: block;
	margin: 2%;
}

.mapdiv{
    height: 600px;
}

.mapdiv img{
	max-width: inherit;
}

body 
{
    background:#FFF;
    font-family: 'Ubuntu', sans-serif;
}

#driving.boxed {
  border: 1px solid green ;
}

#taxi.boxed {
  border: 1px solid orange ;
}

#transit.boxed {
  border: 1px solid blue ;
}


#mapWrap {
	width: 100%;
	height: 100%;
}

#map_canvas1, #map_canvas2 {
	width: 98%;
	height: 90%;
	margin: 2%;
}

#resultsDiv {
	margin: 2%;
}

#sideWrap {
    float:left;
}

#tabsWrap div {
    float:left;
}

.tabContent{
   /* float:left;*/
}
